<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="student" class="com.spring.di.constructor.Student">
        	<!-- these properties will only pass when there is a constructor present -->
        	<constructor-arg name="studentName" value="Yaduveer" type="java.lang.String"/>
        	<constructor-arg name="age" value="6" type="int"/>
        	<constructor-arg name="subjectStream" value="Pass" type="java.lang.String"/>
        </bean>
        
        <bean id="onlyName" class="com.spring.di.constructor.Student">
        	<!-- these properties will only pass when there is a constructor present -->
        	<constructor-arg name="studentName" value="Veeru" type="java.lang.String"/>
        </bean>
</beans>        